<!DOCTYPE html>
<!--[if IE 9 ]>    <html class="ie9" lang="en" data-ng-app="singular"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" data-ng-app="singular">
<!--<![endif]-->

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">

   <!-- Prevent cache-->
   <meta http-equiv="cache-control" content="max-age=0" />
   <meta http-equiv="cache-control" content="no-cache" />
   <meta http-equiv="expires" content="0" />
   <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
   <meta http-equiv="pragma" content="no-cache" />

   <title data-ng-bind="pageTitle()">Singular - Bootstrap Admin Theme + AngularJS</title>
   <!-- App CSS-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/apprtl.css" data-ng-if="app.layout.isRTL">
   <link rel="stylesheet" href="app/css/constructor.css" data-ng-if="app.layout.isRTL">



   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,800' rel='stylesheet' type='text/css'>
   <!--<link href="assets/minimalist-basic/content.css" rel="stylesheet" type="text/css" />-->


   <link href="master/scripts/contentbuilder.css" rel="stylesheet" type="text/css" />
   <link href="app/css/constructor.css" rel="stylesheet" type="text/css" />
   <link href="assets/minimalist-basic/content.css" rel="stylesheet" type="text/css" />
   <style>
      body {margin:0 0 57px} /* give space 70px on the bottom for panel */
      #panelCms {width:100%;height:57px;border-top: #eee 1px solid;background:rgba(255,255,255,0.95);position:fixed;bottom:0;padding:10px;box-sizing:border-box;text-align:center;white-space:nowrap;z-index:10001;}
      #panelCms button {border-radius:4px;padding: 10px 15px;text-transform:uppercase;font-size: 11px;letter-spacing: 1px;line-height: 1;}
   </style>

</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.sidebar.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'aside-slide' : app.sidebar.slide, 'in-app': $state.includes('app')}">
   <div data-ui-view="" data-autoscroll="false" data-ng-class="app.viewAnimation" class="app-container"></div>
   <!-- App Scripts-->
   <script src="/app/js/base.js"></script>
   <script src="/app/js/app.js"></script>
   <script src="master/scripts/contentbuilder.js" type="text/javascript"></script>

   <script src="master/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
   <script src="master/scripts/jquery-ui.min.js" type="text/javascript"></script>
</body>

</html>