<div class="row clearfix" >
    <div class="column full">
        <div class="display">
            <p style="font-size:1em">Example</p>

            <h1 style="font-size:3.5em;margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing
                industry</h1>
        </div>
    </div>
    <div class="column two-sixth flow-opposite">
        <p style="margin:1.5em 0 0"><b>By [Your Name Here]</b><br>A freelance designer &amp; developer
            based in Melbourne, Australia.</p>
    </div>
    <div class="column sixth center">
        <img src="assets/default/31.jpg" class="circle" alt="">
    </div>
</div>
<div class="row clearfix">
    <div class="column full">
        <hr>
    </div>
</div>
<div class="row clearfix">
    <div class="column half">
        <h3>Lorem Ipsum is simply dummy text</h3>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="column half">
        <img src="assets/default/01.jpg" alt="">
    </div>
</div>
<div class="row clearfix">
    <div class="column full">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Vivamus leo ante, consectetur sit amet vulputate vel, dapibus
            sit amet lectus.</p>
    </div>
</div>