<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col two-col-md-4">

            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="/app/js/base.js"></script>
<script src="/app/js/app.js"></script>
<script src="master/scripts/contentbuilder.js" type="text/javascript"></script>

<script src="master/scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="master/scripts/jquery-ui.min.js" type="text/javascript"></script>
</body>

</html>

<!-- Localized -->