<div data-ng-controller="ConstructorController as constCtrl" class="sidebar-wrapper" class="constructor">
    <h3>{{constCtrl.page}}
        <small>Constructor</small>
    </h3>

    <form name="pageForm" class="form-validate form-horizontal" ng-submit="constCtrl.add(newPage)" ng-if="constCtrl.form" novalidate>
        <!-- START panel-->
        <div class="panel panel-default">

            <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Page Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" ng-model="newPage" ng-pattern="/^[^<\\>%@#!&\/*|=?()0-9A-Z$]*$/" ng-minlength="4"  required="" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <button type="submit" ng-disabled="pageForm.$invalid" class="btn btn-info next-button">Next</button>
            </div>
        </div>
    </form>

    <div class="row" ng-show="!constCtrl.form">
        <div class="col-lg-12">
            <div id="contentarea" class="container"></div>

            <br/><br/>

            <!--<button>TEST BUTTON</button>-->

            <!-- CUSTOM PANEL (can be used for "save" button or your own custom buttons) -->
            <div id="panelCms" >
                <button ng-click="constCtrl.viewHtml()" class="btn btn-default"> View HTML</button>
                &nbsp;
                <!--<button onclick="save()" class="btn btn-primary"> {{asd}}</button>-->
                <button ng-click="constCtrl.saveHtml(newPage)" class="btn btn-primary"> Save</button>
                &nbsp;
            </div>
        </div>

    </div>

</div>

<script src="master/scripts/contentbuilder.js" type="text/javascript"></script>

<script type="text/javascript">
    var contentArea = $("#contentarea");
    contentArea.toggle();
    var config = {
        'client_id': '951842442215-sdmrvih11fta1jqultfdar8cbe7b9smb.apps.googleusercontent.com',
        immediate: false,
        'scope': 'https://www.googleapis.com/auth/devstorage.full_control'
    };
    var config2 = {
        'client_id': '951842442215-sdmrvih11fta1jqultfdar8cbe7b9smb.apps.googleusercontent.com',
        immediate: true,
        'scope': 'https://www.googleapis.com/auth/devstorage.full_control'
    };

    function handleClientLoad() {
        window.setTimeout(checkAuth, 1);
    }


    function checkAuth() {
        gapi.auth.authorize(config2, handleAuthResult);

    }

    function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
            contentArea.toggle();
        } else {
            gapi.auth.authorize(config, handleAuthResult);
        }
    }
</script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

