<h3>View title<button type="button" class="pull-right btn btn-primary">Action button</button><small>View subline</small></h3><div class="row"><div class="col-lg-12"><p class="lead text-center">View content</p></div></div>